[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
selenium = "*"
black = "*"
mypy = "*"
webdriver-manager = "*"
pytest = "*"
python-dotenv = "*"
yagmail = "*"

[dev-packages]

[requires]
python_version = "3.10"
